
.dropdown__wrap
{
	position: relative;
	display: inline-block;
}



.dropdown__input
{

}



.dropdown
{
	position: absolute;
	top: 3rem;
	background: white;
	border-radius: $border-radius-base;
	box-shadow: $box-shadow;
	list-style: none;
	margin: 0;
	padding: 0;
	width: 100%;
	padding: 2px;
}



.dropdown__item
{
	text-align: left;

	&.is-active .dropdown__link
	{
		background: $gray-lighter;
	}
}



.dropdown__link
{
	padding: .1em .5em;
	display: block;
	border-radius: $border-radius-base;
	color: $text-color;
	text-decoration: none;

	&:hover
	{
		background: $gray-lighter;
	}
}