.u-m-0
{
	margin: 0 !important;
}

.u-m-top-0
{
	margin-top: 0 !important;
}

.u-m-top-5
{
	margin-top: .5rem !important;
}

.u-m-right-5
{
	margin-right: .5rem !important;
}

.u-m-bottom-10
{
	margin-bottom: 1rem !important;
}