
.u-text-center 
{
	text-align: center !important;
}

.u-text-right 
{
	text-align: right !important;
}

.u-text-left
{
	text-align: left !important;
}

.u-lg
{
	font-size: $font-size-lg;
}

.u-line-height-sm
{
	line-height: $line-height-sm;
}